.myTextSuccess {
  color: var(--primary-green);
}

.myTextSuccess:hover {
  color: var(--ev-green);
  background: #212529;
}

.table-bordered {
  border: 2px solid #000;
}

.centerVertically {
  display: flex;
  align-items: center;
  height: auto;
}

.bgYellowGradient {
  background: linear-gradient(#ffdd00, #fbb034);
}

.bgGreenGradient {
  background: linear-gradient(#18c54f, #148b3a);
}

.myButtonR {
  color: var(--primary-blue);
  background: #000 !important;
  border: 3px solid var(--primary-blue);
  font-weight: bold;
}

.myButtonR:hover,
.myButtonR:focus,
.myButtonR:active,
.myButtonR.visited {
  color: var(--primary-blue);
  background: var(--primary-blue);
  border: 3px solid var(--primary-blue);
  cursor: auto;
}

.myButtonBorder:hover {
  border: 3px solid var(--primary-blue) !important;
}

.savingsWidth {
  width: 75%;
}

.savingsImg {
  text-align: end;
}

.calcImgWidth {
  width: 100%;
}

.table1dNone {
  display: none;
}

.fs-7 {
  font-size: 13px;
}

@media screen and (max-width: 992px) {
  .calcContainer {
    padding: inherit 0 !important;
    margin-bottom: 0 !important;
  }

  .px-5 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .savingsWidth {
    width: 30%;
    margin: -15px 0;
  }

  .savingsImg {
    text-align: center;
  }

  .calcImgWidth {
    width: 50%;
    margin-left: 25%;
    padding-bottom: 25px;
  }

  .bgLightBlue {
    padding-right: 50px !important;
  }
}

@media screen and (max-width: 576px) {
  .calcContainer {
    padding: 30px !important;
  }
}

@media screen and (max-width: 577px) {
  .mydNone {
    display: none;
  }

  .table1dNone {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .pt-3 {
    padding-top: 0 !important;
  }
}

@media screen and (max-width: 392px) {
  .fs-7 {
    font-size: 10px;
  }
}

@media screen and (max-width: 355px) {
  .table2 {
    padding: 0 !important;
    margin: 0 !important;
  }
}
